$color_blue: #009EE2;
$color_white: #FFFFFF;
$color_black: #000;
$color_menu: #414141;
$color_input: #B1B1B1;
$color_left_menu: #1A1A1A;
$color_left_menu_link: #6B9AC6;
$color_left_menu_hover: #00B2FF;
$bg_btn_hover: #00B2FF;
$bg_nav: #F5F5F5;
$border_form: #ECECEC;
